* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  height: 100vh;
  background: rgb(71, 71, 71);
  background: url(../img/bg.jpg);
  background-size: 100vw;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.grid-container {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  gap: 15px;
  grid-template-areas: "nav nav" "result ingredient";
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 50px 1fr;
}

/* navbar */
.navbar {
  grid-area: nav;
  background: rgb(6, 66, 166);
  background: linear-gradient(
    180deg,
    rgb(116, 40, 27) 3%,
    rgba(219, 63, 6, 0.13) 89%,
    rgba(255, 136, 0, 0) 80%
  );
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .logo {
  padding: 6px;
  color: #fff;
}

.nav {
  padding: 10px;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin: 1px 4px;
  margin-right: 6px;
}

.nav a[href="about.html"] {
  border-bottom: 0.8px solid #fff;
}

.nav a:hover {
  color: rgb(255, 180, 40);
}

/* Background */
#bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: inline-block;
  overflow-y: hidden;
}