body,
html {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px rgb(115, 25, 25) solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Background */
#bg {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: inline-block;
  overflow-y: hidden;
}

/* #tv {
  width: 120%;
  position: absolute;
  z-index: 0;
  top: -20%;
  left: -11%;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transition-timing-function: linear;
} */

#tv {
  width: 10%;
  position: absolute;
  z-index: 0;
  top: 69%;
  left: 2%;
  transform-origin: 1% 1% 1px;
  transform: rotateY(40deg);
  transform: skewY(-17deg);
}
