* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url(../img/bg.jpg); */
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  height: 100vh;
  background: rgb(71, 71, 71);
  background: url(../img/bg.jpg);
  background-size: 100vw;
}

.grid-container {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  gap: 15px;
  grid-template-areas: "nav nav nav" "info info form";
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: 50px 1fr;
}

/* navbar */
.navbar {
  grid-area: nav;
  background: rgb(6, 66, 166);
  background: linear-gradient(
    180deg,
    rgb(116, 40, 27) 3%,
    rgba(219, 63, 6, 0.13) 89%,
    rgba(255, 136, 0, 0) 80%
  );
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .icon {
  padding: 6px;
  color: #fff;
}

.nav {
  padding: 10px;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin: 1px 4px;
  margin-right: 6px;
}

.nav a:hover {
  color: #fff;
  border-bottom: 0.8px solid #fff;
}

/* left info panel */
.info-pane {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  grid-area: info;
  padding: 10px 25px;
  margin: 30px auto;
}

.info-pane h3 {
  color: rgb(167, 0, 0);
  font-size: 40px;
  align-items: center;
}

/* right registration form */
.form {
  grid-area: form;
  padding: 18px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background: rgb(243, 174, 15);
  border-radius: 10px;
  max-width: 70%;
  align-items: center;
  line-height: 1.7;
}

input {
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(69, 69, 69);
  width: 100%;
  font-size: 16px;
}

input[type="submit"] {
  border: none;
  padding: 6px;
  margin-top: 5px;
  background: rgb(24, 179, 231);
  border-radius: 3px;
}

input[type="submit"]:hover {
  border: 1px solid black;
}
